{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS faylni ulash -->
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <title>Yangiliklar</title>
</head>
<body>

    {% block content %}
    <div class="news-container">
        {% for news in object_list %}
        <div class="news-item">
            <h2 class="news-title">{{ news.title }}</h2>
            <p class="news-text">{{ news.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
    
</body>
</html>
