{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2>{{ post.title }}</h2>
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.body }}</p>
        
        <div class="buttons">
            <a href="{% url 'post_edit' post.id %}" class="btn">
                <button>Tahrirlash</button>
            </a>
            <a href="{% url 'post_delete' post.id %}" class="btn">
                <button>O'chirish</button>
            </a>
        </div>
    </div>
{% endblock content %}
